body{
	background: url(../img/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    overflow-y: auto;
}

.navbar{
    margin-bottom: 0;
}

#descr{
	text-align: right;
	padding-top: 80px;
}

#btn{
    text-align: center;
    margin-top: 180px;
}

#workspace{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-y: auto;
}

#coords{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: 11pt;
    color: #fff;
}

.toolbar-row, .toolbar-col{
    height: 100%;
}

.toolbar-col{
    width: auto !important;
}

.toolbar{
    padding: 2px;
    background-color: #34495e;
    width: 50px;
    height: 100%;
}

.btn-tool{
    margin-bottom: 2px;
    font-size: 10pt;
    text-align: center;
    width: 46px;
}

.bs, .us{
    display: none;
}

#main-space, #second-space{
    min-height: 600px;
    padding: 10px;
}

#second-space{
    display:none;
}

.brightness-slider, .threshold-slider{
    display: none;
}

#main-img, #second-img{
    width: auto;
    height: auto;
    display: none;
}

#main-canvas, #second-canvas{
    display: block;

    margin: 0 auto;
    vertical-align: middle;
    background-color: #121A21;
}

#right-bar{
    background-color: #34495e;
    height: 100%;
    float: right;
    color: #e0e0e0;
    font-size: 9pt !important;
    font-weight: 300;
}

#histogram-div {
    width   : 100%;
    height  : 500px;
}   

.nav-tabs{
    border-bottom: 0;
    margin-left: 50%;
    margin-top: 10px;
}

.nav-tabs>li{
    margin-bottom: 0;
}
.nav-tabs>li.active>a{
    color: #16a085;
    background-color: #496683;
    border-color: #496683;
}

.nav-tabs>li.active>a:hover{
    background-color: #263544;
    color: #16a085;
    border-color: #263544;
}

.nav-tabs>li>a:hover{
    background-color: #263544;
    color: #16a085;
    border-color: #263544;
}

.nav-tabs>li.active>a:focus{
    background-color: #496683;
    color: #16a085;
    border-color: #496683;
}

/* Smartphones (portrait and landscape) ----------- */
@media (max-width : 991px) {

    h1, #descr{
        text-align: center;
        padding: 0;
    }

    #btn{
        margin-top: 0;
    }

    .toolbar-row, .toolbar-col{
        height: auto;
    }

    .toolbar{
        width: auto;
        height: auto;
    }

    .btn-tool{
        margin: 0;
        width: auto;
    }

    #right-bar{
        display:none;
    }
}